<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <title>Admin Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand">Stress Level Detection</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      
      <div class="sidebar">
        <a class="active" href="#home">Home</a>
        <a href="/">Predict</a>
        <a href="/about">About</a>
        <a href="#contact">Contact Us</a>
        <a href="/login">Plot</a>
        <a href='/open_camera_action'>Real Time Detection</a>
      </div>
    <h1>Welcome to the Admin Dashboard</h1>
    
    <h2>User Data</h2>
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for user in users_data %}
            <tr>
                <td>{{ user[0] }}</td> <!-- Assuming the first column is user ID -->
                <td>{{ user[1] }}</td> <!-- Assuming the second column is user name -->
                <td>{{ user[2] }}</td> <!-- Assuming the third column is user email -->
                <!-- Add more cells for additional columns -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>Login History</h2>
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Login Time</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for login in login_history %}
            <tr>
                <td>{{ login[0] }}</td> <!-- Assuming the first column is user ID -->
                <td>{{ login[1] }}</td> <!-- Assuming the second column is login time -->
                <!-- Add more cells for additional columns -->
            </tr>
            {% endfor %}
        </tbody>


    </table>

    <a href="/image-data" class="btn btn-dark">image_sats</a>
</body>
</html>
